*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #8e39e3;
}
#calculator{
    width: 400px;
    margin: auto;
    font-style: italic;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
#container {
    height: 450px;
    width: 350px;
    background-color: black;
    margin: 10vh auto;
    border-radius: 40px;
    box-shadow: 7px 7px 10px white;
    padding: 30px;
}
#howtouse{
    height: 400px;
    width: 350px;
    background-color: whitesmoke;
    margin: 15vh auto;
    border-radius: 40px;
    box-shadow: 7px 7px 10px rgb(0, 0, 0);
    padding: 30px;
}
#howtouse h2{
    padding: 10px;
    font-size: 29px;
}
#howtouse li{
    padding: 10px;
}
#display {
    border: 4px solid grey;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    overflow-x: scroll;
    font-size: 20px;
    height: 50px;
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

#AC {
    background-color: red;
}

#AC:hover {
    background-color: whitesmoke;
}

#DEL {
    background-color: green;
}

#DEL:hover {
    background-color: whitesmoke;
}

.buttons {
    background-color: grey;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 16px;
    text-align: center;
    margin: 5px;
    width: 50px;
    border-radius: 30px;
    cursor: pointer;
}

.buttons:hover {
    background-color: whitesmoke;
}

@media only screen and (max-width: 450px){
.buttons {
    background-color: grey;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 16px;
    text-align: center;
    margin: 3px;
    width: 35px;
    border-radius: 30px;
    cursor: pointer;
  }

  #container{
    width: 270px;
  }
  #howtouse{
      width: 270px;
      height: 450px;
  }
  #calculator{
    width: 330px;
    
}
}
